#quizOptions > label {
	display: inline-block;
	width: 9em;
	text-align: right;
	font-size: 1.5em;
}

#quizOptions > input {
	box-sizing: border-box;
	width: calc(100% - 10em);
	text-align: center;
	font-size: 2em;
}

#quizOptions > input[type=checkbox] {
	min-height: 1.5em;
}

#quizOptions ul input, #quizQuestion li input {
	display: none;
}


#quizOptions ul {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

#quizOptions li label, #quizOptions li input:checked:active:hover + label {
	font-size: 2em;
	box-sizing: border-box;
	min-height: 3em;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1vmax outset #00a;
	background-color: #009;
}

#quizOptions li input:checked + label, #quizOptions li input:not(checked):active:hover + label {
	background-color: #090;
	border-color: #0a0;
	border-style: inset;
}

#quizOptions h1, #quizOptions {
	text-align: center;
}

#quizOptions button {
	box-sizing: border-box;
	width: 100%;
	height: 4em;
	background-color: #900;
	border-width: 1vmax;
	border-color: #a00;
	font-size: 2em;
	color: #fff;
}

#quizQuestion h1, #quizQuestion h2, #quizScores h1 {
	text-align: center;
	font-size: 3em;
}

#quizQuestion label {
	background-color: #008;
	border: 1vmax outset #00a;
	height: 2em;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}

#quizQuestion label:hover {
	background-color: #228;
}

#quizQuestion input:active + label:hover {
	border-style: inset;
}

#quizQuestion input:checked + label {
	background-color: #080;
	border: 1vmax inset #0a0;
}

#quizQuestion button, #quizScores button {
	width: 100%;
	height: 3em;
	font-size: 2em;
	background-color: #800;
	border-color: #900;
	border-width: 1vmax;
	color: #fff;
}

#quizQuestion #countdown {
	text-align: center;
	font-size: 3em;
}

#quizScores li span {
	display: inline-block;
	width: 50%;
	font-size: 2em;
}
