body {
	color: #fff;
	background-color: #000;
	user-select: none;
}

input::placeholder {
	text-align: center;
}

#roomList, #gameList {
	padding: 0;
	list-style: none;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr))
}

:is(#roomList, #gameList) > li > button {
	text-align: center;
	height: 25vh;
	width: 100%;
	background-color: #080;
	cursor: pointer;
	border-color: #0a0;
	font-size: 3em;
	border-width: 1vmax;
}

:is(#roomList, #gameList) > li > button:hover {
	background-color: #090;
}

#error {
	color: #f00;
}

#roomList + button {
	width: 100%;
	height: 25vh;
	background-color: #800;
	border-color: #a00;
	font-size: 3em;
	border-width: 1vmax;
}

#roomList + button:hover {
	background-color: #900;
}

#becomeAdmin {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(63, 0, 0, 0.75);
	cursor: pointer;
	right: 0;
	bottom: 0;
}

#becomeAdmin > h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.witButton {
	width: 100%;
	height: 10vh;
	border-width: 1vmax;
	font-size: 2vmax
}

.witButton:nth-of-type(1) {
	background-color: #f80;
	border-color: #f90;
}

.witButton:nth-of-type(2) {
	background-color: #aa0;
	border-color: #bb0;
}

.witButton:nth-of-type(3) {
	background-color: #08f;
	border-color: #09f;
}

.witButton:nth-of-type(4) {
	background-color: #080;
	border-color: #090;
}

.witButton.big {
	height: 40vh;
	width: 50%;
}

@media (orientation: portrait) {
	.witButton.big {
		width: 100%;
		height: 30vh;
	}
}

#holdem label {
	display: inline-block;
	width: 8em;
	font-size: 2em;
	text-align: right;
}

#holdem label + input {
	box-sizing: border-box;
	width: calc(100% - 8em);
	font-size: 2em;
	text-align: center;
	background-color: #000;
	color: #fff;
	border-style: solid;
}

#holdem input[type=radio] {
	display: none;
}

#holdem input + label {
	display: block;
	border: 1vmax outset #00a;
	background-color: #008;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

#holdem input:checked + label, #holdem input:active + label {
	border-style: inset;
	background-color: #006;
	border-color: #007;
}

#holdem button {
	color: #fff;
	font-size: 2em;
	background-color: #800;
	border-color: #900;
	width: 100%;
	height: 3em;
	border-width: 1vmax;
}
