body {
	color: #fff;
	background-color: #000;
}

#roomList, #gameList {
	padding: 0;
	list-style: none;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr))
}

:is(#roomList, #gameList) > li > button {
	text-align: center;
	height: 25vh;
	width: 100%;
	background-color: #080;
	cursor: pointer;
	border-color: #0a0;
	font-size: 2vmax;
	border-width: 1vmax;
}

:is(#roomList, #gameList) > li > button:hover {
	background-color: #090;
}

#error {
	color: #f00;
}

#becomeAdmin {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(63, 0, 0, 0.75);
	cursor: pointer;
	right: 0;
	bottom: 0;
}

#becomeAdmin > h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
