body {
	color: #fff;
	background-color: #000;
}

#roomList, #gameList {
	padding: 0;
	list-style: none;
}

:is(#roomList, #gameList) > li > span:hover {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

#roomList > li > svg {
	cursor: pointer;
}

#username:placeholder-shown ~ div {
	display: none;
}

#error {
	color: #f00;
}
