#wit button {
	width: 100%;
	height: 10vh;
	border-width: 1vmax;
	font-size: 2vmax
}

#wit button:nth-of-type(1) {
	background-color: #f80;
	border-color: #f90;
}

#wit button:nth-of-type(2) {
	background-color: #aa0;
	border-color: #bb0;
}

#wit button:nth-of-type(3) {
	background-color: #08f;
	border-color: #09f;
}

#wit button:nth-of-type(4) {
	background-color: #080;
	border-color: #090;
}

#wit .big {
	height: 40vh;
	width: 50%;
}

@media (orientation: portrait) {
	#wit .big {
		width: 100%;
		height: 30vh;
	}
}

#wit div {
	text-align: center;
	font-size: 2em;
}
